body{
  background-color: darkblue;
}
h1{
  font-size: 400%;
  color: red;
  text-decoration: underline;
  text-decoration-style: straight;
  font-family: "Papyrus";
}
h3{
  text-decoration: underline;
  text-decoration-style: straight;
  font-family: "Papyrus";
  font-size: 250%;
  color: red;
}
img{
  height: 250px;
  border-style: ridge;
  border-color: red;
}
ul{
  text-align: center;
  list-style-type: none;
  font-family: "Lucida Handwriting";
  position: fixed;
}
li{
  float: left;
}
li a{
  padding: 25px;
  color: red;
  border-style: dashed;
  background-color: #536a8f;
}
li a:hover{
  background-color: black;
}
